/* Gương SV5TOT------------------------------------------------------------- */
.GuongSVcpn .Guong_SV5TOT{
    font-family: Roboto;
    background-color:white;
    width: 985px;
    margin: auto;
    border-radius: 10px;
    position: relative;
}
.GuongSVcpn .Title_SV5TOT_TB{
    font-size: 22px;
    font-family: Roboto;
    font-weight: bold;
    color: #005495;
    margin-top: 30px;
    margin-left: 20px;
}
.GuongSVcpn .card-text h5{
    font-family: Roboto;
    font-weight: bold;
}
.GuongSVcpn .card-text p{
    font-family: Roboto;
    font-size: 17px;
    line-height: 20px;

}
.GuongSVcpn .card{
    border: none !important;
    width: 28rem;
    margin: auto;
}

/* Sinh vien năm tốt 2020---------------------------------------------------------------- */
.GuongSVcpn .SV5TOT_2020{
    font-family: Roboto;
    width: 985px;
    margin: auto;
}
.GuongSVcpn .Title_SV5TOT_2020{
    font-size: 20px;
    font-family: Roboto;
    font-weight: bold;
    color:#005495;
    margin-top: 30px;
    margin-left: 0px;
}
.GuongSVcpn .SV5T_2020_item{
    width: 291px;
    height: 258px;
    background-color:white;
    border-radius: 10px;
}
.GuongSVcpn .SV5T_2020_item .Img_SV5T_2020 img{
    width: 271.71px;
    height: 172.72px;
    margin-top: 10px;
    border-radius: 10px;
}
.GuongSVcpn .Img_SV5T_2020{
    text-align: center;
    margin-top: 10px;
}
.GuongSVcpn .Title_SV5T_2020{
    margin-top: 10px;
    text-align: center;

}
.GuongSVcpn .Title_SV5T_2020 h5{
    font-family: Roboto;
    font-size: 15px;
    font-weight: bolder;
    line-height: 16px;
}
.GuongSVcpn .Title_SV5T_2020 p{
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    line-height: 15px;
}
/* Sinh vien năm tốt 2019---------------------------------------------------------------- */
.GuongSVcpn .SV5TOT_2019{
    font-family: Roboto;
    width: 985px;
    margin: auto;
}
.GuongSVcpn .Title_SV5TOT_2019{
    font-size: 20px;
    font-family: Roboto;
    font-weight: bold;
    color:#005495;
    margin-top: 30px;
    margin-left: 0px;
}
.GuongSVcpn .SV5T_2019_item{
    width: 291px;
    height: 258px;
    background-color:white;
    border-radius: 10px;
}
.GuongSVcpn .SV5T_2019_item .Img_SV5T_2019 img{
    width: 271.71px;
    height: 172.72px;
    margin-top: 10px;
    border-radius: 10px;
}
.GuongSVcpn .Img_SV5T_2019{
    text-align: center;
    margin-top: 10px;
}
.GuongSVcpn .Title_SV5T_2019{
    margin-top: 10px;
    text-align: center;

}
.GuongSVcpn .Title_SV5T_2019 h5{
    font-family: Roboto;
    font-size: 15px;
    font-weight: bolder;
    line-height: 16px;
}
.GuongSVcpn .Title_SV5T_2019 p{
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    line-height: 15px;
}
@media only screen and (max-width: 600px) {
    .GuongSVcpn .Guong_SV5TOT{
        width: 100%;
    }
    .GuongSVcpn .card{
        width: 23rem;
    }
    .GuongSVcpn .SV5TOT_2020{
        width: 100%;
    }
    .GuongSVcpn .SV5T_2020_item{
        width: 100%;
    }
    .GuongSVcpn .SV5TOT_2019{
        width:100%;
    }
    .GuongSVcpn .SV5T_2019_item{
        width: 100%;
    }
}


