
@import url('https://fonts.googleapis.com/css2?family=Roboto');

/* *{
	margin: 0;
	padding: 0;
}
body{
	background-color: rgb(237, 243, 248);
} */
.main-content{
	max-width: 70%;
	margin-top: 50px;
} 
.main-content{
	background-color: white;
	border-radius: 6px;
	width: 60%;
	padding: 0 30px;
}
.content-top{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}
.content-top img{
	width: 80%;
	height: auto;
}
.text-begin{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	color: #005495;
}
.phong-trao{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 300%;
	letter-spacing: 0.025em;
	color: #000000;
}
.phong-trao p{
	text-indent: 30px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 308.19%;
	/* or 55px */

	letter-spacing: 0.025em;
}
.row_tintuc{
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.content-image{
	height: 10em;
 	width: 10em;
	border-radius: 50% ;
	border: 3px dashed #f1937d;
	cursor: pointer;
	margin-bottom: 20px;
	
}
.content-image img{
	width: 100%;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
}
#render{
	margin-top: 20px;
	width: 100%;
}
.render-content-top{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.render-content-top img{
	width: 50%;
}
/* .render-content-bottom{
	display: flex;
	justify-content: start;
} */
.render-content-bottom p{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 308.19%;
	/* or 55px */
	
	letter-spacing: 0.025em;	
}
#render-one{
	display: none;
}
#render-two{
	display: none;
}
#render-three{
	display: none;
}
#render-four{
	display: none;
}
#render-five{
	display: none;
}
@media only screen and (max-width: 768px){
	main{
		width: 100%;
	}
	.main-content{
		width: 100%;
	}
	.container{
		max-width: 100%;
	}
	.col-12{
		width: 50%;
	}
}